streamlit
streamlit-authenticator
streamlit-option-menu
pandas
google-generativeai
google
plotly
scipy
pandas-profiling
statsmodels
langchain
langchain_experimental
langchain_google_genai 
python-dotenv
tabulate
streamlit_extras
# requirements.txt
#pip install -U langchain-cli